<!DOCTYPE html>
<html>

  <head>
		<meta charset="utf-8">
		<title>MOBLE</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
		<script src="/javascripts/web3.js"></script>
	</head>
<body>
	
  <!-- NAV SECTOION -->
  <div class="wrapper">
    <nav role="navigation">
      <ul id="mainmenu" class="mainmenu" role="menubar">
        <li><a href="/">Home</a></li>
        <li><a href="/register">등록</a></li>
        <li><a href="/joinpool">참여</a></li>
      </ul>
    </nav>
    <h1 class='title'>MOBLE</h1>
    <h2>MOBLE 테스트 페이지 입니다. </h2>
		<h4>주소  :  <a id="address"><%= address %></a></h4>
		<h4>보유 이더  :  <a id="balanceAmount"><script type="text/javascript">getBalance();</script></a></h4> 
    <h4>이름  :  <a id="name"><script type="text/javascript">getName();</script></a></h4>
    <form method="get" action="#">
      <h4>이름 변경</h4>
      <input type="text" name="change_name" id="change_name" value="" placeholder="이름을 입력하세요." /><br>
      <button type="submit" class="primary" onclick="registerName()">change name</button>
    </form>
    <form method="post" action="#">
      <h4>유저 변경</h4>
      <input type="text" name="private_key" id="private_key" value="" placeholder="이더리움 주소를 입력하세요." /><br>
      <button type="submit" class="primary" onclick="">change user</button>
    </form>
   
  </div>
</body>

</html>