<!DOCTYPE html>
<html>
<<<<<<< Updated upstream
   <head>
      <meta charset="utf-8">
      <title>경매 시스템</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
      <script src="/javascripts/web3.js"></script>
   </head>
   <body>
      <br><br><br>

      <div id="main">
         <div class="inner">
            <div class="row gtr-200">
               <div class="col-6">
                  <h2>Identity </h2>
                  <h4>Key  :  <a id="address"><%= address %></a></h4>
                  <h4>Ether  :  <a id="balanceAmount"><script type="text/javascript">getBalance();</script></a></h4> 
                  <h4>Name  :  <a id="name"><script type="text/javascript">getName();</script></a></h4>
                  <form method="get" action="#">
                     <h4>change name</h4>
                     <input type="text" name="change_name" id="change_name" value="" placeholder="Enter user name" /><br>
                     <button type="submit" class="primary" onclick="registerName()">change name</button>
                  </form>
                  <form method="post" action="#">
                     <h4>change user</h4>
                     <input type="text" name="private_key" id="private_key" value="" placeholder="Enter ethereum key" /><br>
                     <button type="submit" class="primary" onclick="">change user</button>
                  </form>
               </div>
            </div>
            <hr class="major">

            <div class="row gtr-200">
               <div class ="col-6 col-12-medium">
               
               
               </div>

               <div class ="col-6 col-12-medium">
               
               
               </div>

               <div class ="col-6 col-12-medium">
                  <h2>Register Auction Item</h2>
                  <form method="get" action="#">
                     <div class="row gtr-uniform">
                        <div class="col-12">
                           <input type="text" name="demo-category" id="myitems-category" placeholder="name" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                           <h4>starting bid price : </h4>
                           <input type="text" name="startingBidPrice" id="startingBidPrice" value="" placeholder="price" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                           <h4>upper limit price : </h4>
                           <input type="text" name="upperLimitPrice" id="upperLimitPrice" value="" placeholder="price" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                           <h4>due date : </h4>
                           <input type="text" name="dueDate" id="dueDate" value="" placeholder="date" />
                        </div>
                        <div class="col-12">
                           <ul class="actions">
                              <li><input type="submit" value="Register" class="primary" onclick="registerGroupBuyItem()" /></li>
                              <li><input type="reset" value="reset" /></li>
                           </ul>
                        </div>
                     </div>
                  </form>
               </div>
=======

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <!-- NAV SECTOION -->
  <div class="wrapper">
    <nav role="navigation">
      <ul id="mainmenu" class="mainmenu" role="menubar">
        <li><a href="/">Home</a></li>
        <li><a href="/register">등록</a></li>
        <li><a href="/joinpool">참여</a></li>
      </ul>
    </nav>
    <h1 class='title'>MOBLE</h1>
    <p>Improve your life</p>
    <!-- CARD SECTION  -->
    <section class="cards">
      <!-- CARD 1 -->
      <article class="card card--1">
        <div class="card__info-hover">
          <svg class="card__like" viewBox="0 0 24 24">
            <path fill="#000000"
              d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
          </svg>
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24">
              <path
                d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
            </svg><span class="card__time">15 min</span>
          </div>

        </div>
        <div class="card__img"></div>
        <a href="#" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category"> TECH</span>
          <h3 class="card__title">
            Apple Watch Series  </h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Gunsik Seo</a></span>
        </div>
      </article>

      <!-- CARD2 -->
      <article class="card card--2">
        <div class="card__info-hover">
          <svg class="card__like" viewBox="0 0 24 24">
            <path fill="#000000"
              d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
          </svg>
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24">
              <path
                d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
            </svg><span class="card__time">5 min</span>
          </div>
>>>>>>> Stashed changes

        </div>
        <div class="card__img"></div>
        <a href="#" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category"> INFO</span>
          <h3 class="card__title">
            Stock Investigation </h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Sojin Hwang</a></span>
        </div>
      </article>

<<<<<<< Updated upstream
               <div class ="col-6 col-12-medium">
                  <h2>Action GroupBy</h2>
                  <form method="get" action="#">
                     <div class="row gtr-uniform">
                        <div class="col-12">
                           <input type="text" name="demo-category" id="auction-category" placeholder="name"/>
                        </div>
                        <div class="col-6 col-12-xsmall">
                           <h4>bid price : </h4>
                           <input type="text" name="bidPrice" id="bidPrice" value="" placeholder="price" />
                        </div>
                        <div class="col-12">
                           <ul class="actions">
                              <li><input type="submit" value="Bid" class="primary" onclick="actionGroupBy()"/></li>
                              <li><input type="reset" value="Reset" /></li>
                           </ul>
                        </div>
                     </div>
                  </form>
               </div>

            </div>

            <hr class="major">

            <div class="row gtr-200">
               <div class ="col-6 col-12-medium">
                  <h3>Registered auction items</h3>
                  <div class="table-wrapper">
                     <table>
                        <thead>
                           <tr>
                              <th>Item</th>
                              <th>Owner</th>
                              <th>Bid price</th>
                              <th>Upper limit price</th>
                              <th>Remaining Sec</th>
                           </tr>
                        </thead>
                        <tbody id="registeredCars">
                        </tbody>
                     </table>
                  </div>
               </div>

               <div class ="col-6 col-12-medium">
                  <h3>Ended GroupBuy items</h3>
                  <div class="table-wrapper">
                     <table>
                        <thead>
                           <tr>
                              <th>Item</th>
                              <th>Owner</th>
                              <th>Winning bid</th>
                           </tr>
                        </thead>
                        <tbody id="carsOnSale">
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
=======
      <!--CARD 3  -->
      <article class="card card--3">
        <div class="card__info-hover">
          <svg class="card__like" viewBox="0 0 24 24">
            <path fill="#000000"
              d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
          </svg>
          <div class="card__clock-info">
            <svg class="card__clock" viewBox="0 0 24 24">
              <path
                d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z" />
            </svg><span class="card__time">5 min</span>
          </div>
        </div>
        <div class="card__img"></div>
        <a href="#" class="card_link">
          <div class="card__img--hover"></div>
        </a>
        <div class="card__info">
          <span class="card__category"> TALENT</span>
          <h3 class="card__title">Discover your entropy</h3>
          <span class="card__by">by <a href="#" class="card__author" title="author">Juyeon Han</a></span>
        </div>
      </article>
    </section>
  </div>
</body>

>>>>>>> Stashed changes
</html>