<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style2.css" />
</head>

<body>
  <!--NAV SECTION -->
  <nav role="navigation">
    <ul id="mainmenu" class="mainmenu" role="menubar">
      <li><a href="/">Home</a></li>
      <li><a href="/register">등록</a></li>
      <li><a href="/joinpool">참여</a></li>
    </ul>
  </nav>
  <div class="wrapper">
    <!-- LIST SECTION -->
    <h1 class='title' height: 100px;>List</h1><span></span>
    <div class="container">
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
      <div class="blog-item">
        <div class="blog-content">
          <h5>Feb. 2017</h5>
          <h3>This is the Headline of this News</h3>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua.
          </p>
          <a href="" \>Mehr erfahren</a>
        </div>
        <div class="blog-image"></div>
      </div>
    </div>
  </div>
</body>

</html>